@model IEnumerable<ServicioWebApiUser.Models.Cliente>
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="~/css/ListarCliente.css" rel="stylesheet" />

<h1 style="color:darkblue;font-size: 50px;">Lista de Clientes</h1>
<p class="btn btn-primary" style="margin:5px">
    <a asp-action="AgregarCliente" class="button-link">
        <button class="styled-button">
            <div class="text">
                <span>Registrar</span>
                <span>Cliente</span>
            </div>
            <div class="clone">
                <span>Registrar</span>
                <span>Cliente</span>
            </div>
            <svg stroke-width="2"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 fill="none"
                 class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg"
                 width="20px">
                <path d="M14 5l7 7m0 0l-7 7m7-7H3"
                      stroke-linejoin="round"
                      stroke-linecap="round"></path>
            </svg>
        </button>
    </a>
</p>
<p class="btn btn-primary" style="margin:5px">
    <a asp-controller="Home" asp-action="Index" class="button-link">
        <button class="styled-button">
            <div class="text">
                <span>Volver</span>
                <span>al</span>
                <span>Inicio</span>
            </div>
            <div class="clone">
                <span>Volver</span>
                <span>al</span>
                <span>Inicio</span>
            </div>
            <svg stroke-width="2"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 fill="none"
                 class="h-6 w-6"
                 xmlns="http://www.w3.org/2000/svg"
                 width="20px">
                <path d="M14 5l7 7m0 0l-7 7m7-7H3"
                      stroke-linejoin="round"
                      stroke-linecap="round"></path>
            </svg>
        </button>
    </a>
</p>
<br />
<br />
<table class="table table-bordered table-hover" style="border: 1px solid #444; border-collapse: collapse;">
    <thead class="bg-primary text-white fw-bold">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.DirreccionCliente)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.TelefonoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Email)
            </th>
            <th colspan="2" class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody style="background:#FFFFFF;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirreccionCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center" style="width:5%">
                    <a asp-action="UpdateCliente" asp-route-id="@item.IdCliente" class="edit-button-link">
                        <button class="edit-button">
                            <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                            </svg>
                        </button>
                    </a>
                </td>
                <td class="text-center" style="width:5%">
                    <button class="delete-button" onclick="Eliminar('Cliente/EliminarCliente/@item.IdCliente')">
                        <svg viewBox="0 0 448 512" class="delete-svgIcon">
                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function Eliminar(url){
        Swal.fire({
            title: "Estas seguro de eliminar los datos del Cliente",
            text: "Esta eliminacion ya no se podra recuperar",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: url,
                    icon: "success",
                    success: function (data) {
                        location.reload();

                    }
                });
            } else if (result.isDenied) {
                Swal.fire("Los cambios no han sido guardados", "", "info");
            }
        });
    }
</script>